// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.logged-in {
  padding-top: 15px;
}

.signup {
  display: flex;
  flex-direction: column;
  width: 70%  
}

.signup-button {
  margin-top: 15px;
  
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
